@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.funky-text {
  font-family: 'Comic Sans MS', cursive, sans-serif; /* or any funky font */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  color: #ff4081;
}
.earth-container {
  position: relative;
  overflow: hidden; /* Prevent overflow of the canvas */
  height: 300px; /* Initial height of the Earth model */
  margin-bottom: -150px; /* Half-hidden effect */
  transition: transform 0.5s ease; /* Smooth transition for size change */
}

/* Responsive adjustments */
@media (min-width: 640px) {
  .earth-container {
    height: 400px; /* Adjust height for larger screens */
    margin-bottom: -200px; /* Half-hidden effect for larger screens */
  }
}
